body {
	margin: 0;
	padding: 0;
	font-family: "Helvetica", Arial;
}

div.left-sidebar {
	width: 180px;
	margin-top: 10px;
	float: left;
	height: 900px;
}

div.main-heading {
	font-size: 34px;
	margin: 0 0 0 5px;
}

ul.left-nav {
	list-style: none;
	padding: 0;
	margin: 40px 0 0 10px;
}

	ul.left-nav li {
		background: #F5F5F5;
	}

div.outer-container {
	margin: 10px 0 0 0;
	height: 900px;
	width: 780px;
	//border: 1px solid #000;
	float: left;
	background: #F5F5F5;
	padding: 0 0 0 5px;
}

div.mgr-profile {
	width: 150px;
	height: 60px;
	float: right;
	overflow: hidden;
	margin: 10px 20px 0 0;
	background: #F0D3D3;
	padding: 2px;
}
	div.mgr-profile p {
		margin: 5px 0 0 5px;
		padding: 0;
		font-size: 14px;
		width: 100px;
		height: 50px;
		float: left;
	}
	div.mgr-profile img {
		float: left;	
		width: 40px;
		height: 40px;
		margin: 5px 0 0 5px;
	}

div.msgs-container {
	float: left;
	width: 500px;
	margin: 20px 0 0 20px;
}

div.msg-searchbox {
	width: 500px;
	height: 50px;
	margin: 10px 0 0 10px;
	float: left;
}

	div.msg-searchbox input[type="text"] {
		width: 480px;
		font-size: 22px;
		height: 40px;
	}

div.msgs-widget {
	width: 500px;
	height: 460px;

	margin-top: 20px;
	border: 1px solid orange;
	overflow: scroll;
}

	div.msgs-widget-header {
		height: 40px;
		width: 500px;

		background: #BDBDBD;
	}

div.chat-frame {
	width: 500px;
	background: #EBEBEB;
	padding: 10px 0 0 0;
	overflow: scroll;
}

div.chat-msg-sent {
	width: 440px;
	font-size: 12px;
	min-height: 40px;
	margin: 0px 0 10px 10px;
}

	div.chat-msg-sent img.profile {
		width: 40px;
		height: 40px;
		float: left;
	}
	
	div.chat-msg-sent p.msg {
		padding: 0;
		margin: 0;
		background: #ECF5D5;
		height: 40px;
		float: right;
		width: 350px;
	}

div.chat-msg-received {
	width: 440px;
	font-size: 12px;
	min-height: 40px;
	margin: 0 0 10px 10px;
}
	div.chat-msg-received img.profile {
		width: 40px;
		height: 40px;
		float: right;
	}

	div.chat-msg-received p.msg {
		padding: 0;
		background: #C6DDF5;
		float: left;
		height: 40px;
		width: 350px;
		margin: 0;
	}

div.reply-area {
	width: 500px;
	height: 140px;
	margin: 0;
	padding: 0;
	background: #D5EDBE;
}

	div.reply-area textarea {
		margin: 20px 0 0 10px;
		width: 460px;
		height: 80px;
		resize: none;
	}

	button.auto-replies {
		width: 120px;
		float: left;
		margin: 10px 0 0 10px;
	}

	button.sendMessage {
		width: 80px;
		float: right;
		margin: 10px 10px 0 0;
	}

div.users-widget {
	width: 250px;
	height: 400px;

	margin-top: 20px;
	float: right;
	background: #EBF7FC;
}

div.user-search-box {
	width: 250px;
	height: 40px;
	background: #ccc;
}

	div.user-search-box input {
		width: 240px;
		height: 30px;
		font-size: 14px;
		margin: 0 0 0 2px;
	}

div.user-search-tabs {
	width: 250px;
	height: 30px;
	font-size: 14px;
	background: #BDBDBD;
	border: 1px solid #000;
}

ul.userlist {
	list-style: none;
	padding: 0;
	margin: 0;

	width: 250px;
	height: 350px;
}

	ul.userlist li {
		width: 250px;
		height: 40px;
		background: #E8FAD7;
	}

	ul.userlist li img.profile {
		width: 30px;
		height: 30px;
		float: left;
		margin: 2px 0 0 2px;
	}

	ul.userlist li p.username {
		width: 200px;
		height: 30px;
		padding: 0;
		margin: 2px 0 0 2px;
		float: left;
	}
