body {
	margin: 0;
	padding: 0;
	font-family: "Helvetica", Arial;
}

div.topbar {
	width: 100%;
	height: 40px;
	border-bottom: 1px solid #000;
}

div.content {
	width: 450px;
	margin-left: 5px;
}

	div.content h1 {
		font-family: "Helvetica", Arial;
		font-size: 24px;
	}

div.results {
	width: 350px;
	margin: 30px 0 0 5px;
	position: relative;
	top: 20px;
}

div.item {
	width: 350px;
	border-bottom: 1px dotted #000;
	margin: 0;
	padding: 0;
	cursor: pointer;
}
	div.item:hover {
		background-color: #ccc;
	}
		div.item p.name {
			font-size: 14px;
			font-weight: bold;
			padding: 0;
			margin: 5px 0 0 0;
		}

		div.item p.address {
			font-size: 12px;
			padding: 0;
			margin: 0;
		}

form.register-form {
	width: 900px;
	padding: 5px;
}
	
	form.register-form div.biz-name {
		width: 450px;
		float: left;
	}

	form.register-form div.biz-info {
		width: 450px;
		float: right;
	}

	form.register-form div.field {
		width: 450px;
		margin-bottom: 10px;
	}

		form.register-form div.field ul.errors {
			list-style: none;
			color: rgba(240, 0, 0, 1);
			font-size: 12px;
			width: 250px;
			margin: 0 0 0 150px;
			padding: 0;
		}

	form.register-form label {
		display: block;
		width: 150px;
		float: left;
		height: 30px;
		margin-top: 5px;
	}

	form.register-form input[type="text"], form.register-form input[type="password"] {
		display: block;
		width: 250px;
		height: 30px;
		padding-left: 5px;
		font-size: 16px;
	}

input.submit_btn {
	display: block;
	width: 80px;
	height: 30px;
	background-color: #eee;
	padding: 5px;
	border: none;
}

input.lookup_btn {
	width: 100px !important;
	position: relative;
	margin: 0 0 10px 5px;
}
