<!DOCTYPE html>
<head><title>Dashboard</title></head>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script src="http://localhost:8080/nowjs/now.js"></script>
<link href="/static/dashboard-styles.css" rel="stylesheet">

<html>
<body>
<div class="left-sidebar">
	<div class="main-heading">
		BizPing
	</div>
	<ul class="left-nav">
		<li>Pings</li>
	</ul>
</div>

<div class="outer-container">
	<div class="mgr-profile">
		<img src="">
		<p>
			{{manager.managerFirstName}} {{manager.managerLastName}}<br>
			{{business.businessName}}
			<a href="/logout">Logout</a>
		</p>
	</div>

	<div class="msgs-container">
		<div class="msg-searchbox">
			<input type="text" id="msg-searchbox" placeholder="Search Messages" id="">
		</div>

		<div class="msgs-widget" id='msgs-widget'>

			<div class="msgs-widget-header"></div>

			<!-- TEMPLATE -->
			<!-- <div class="chat-frame">
				<div class="chat-msg-sent">
					<img class="profile">
					<p class="msg">Do you have the 52" tv's in stock?</p>
				</div>
				<div class="chat-msg-received">
					<img class="profile">
					<p class="msg">Yes, what size were you looking for?</p>
				</div>
			</div> -->
		</div>

		<div class="reply-area" id='reply-area'>
			<textarea id="reply-textbox"></textarea>
			<button class="auto-replies" id="btn-auto-replies">Auto-replies</button>
			<button class="sendMessage" id="btn-send-msg">Send</button>
		</div>
	</div>

	<div class="users-widget">

		<div class="user-search-box">
			<input type="text" placeholder="Search users">
		</div>
		
		<div class="user-search-tabs">
			Answered | Unanswered | Starred
		</div>

		<ul class="userlist" id="userlist">

			<!-- TEMPLATE -->
			<!-- 
			<li>
				<img class="profile">
				<p class="username">Mike L.</p>
			</li>
			-->

		</ul>

	</div>

</div>
<!--
	<div class="outer-container">
		<h1>Dashboard</h1>
		<div class="mgr-profile">
			{{manager.managerFirstName}} {{manager.managerLastName}}<br>
			Manager<br>
			{{business.businessName}}
		</div>

		<p>Conversations:</p>
		<ul id="conversations"></ul>

		<div id="messages" class="msgs-container"></div>

		<div id="messages_control" >
			<input type="text" id="msg-text" placeholder="Type reply here...">
			<input type="button" value="Ping!" id="send-btn">
		</div>

	</div>
-->
</body>
</html>

<script type="text/javascript">
	localStorage.clear();
</script>

<script type="text/javascript">
	now.id = "business_{{business.id}}";
	now.name = "{{business.businessName}}";
	now.currentUserId = 0;

    $(document).ready(function() {
        // hide messages controller until a customer has been selected
        $("#reply-area").hide();

		$("#btn-send-msg").click(function() {
			message = $("#reply-textbox").val();
			now.sendMessage(message, now.currentUserId);

 			$('#conversation_' + now.currentUserId).append("<div class='chat-msg-sent'><img class='profile'><p class='msg'>" + now.name + ": " + message + "</p></div>");
			$("#reply-textbox").val("");
		});
    });
	
    now.receiveMessage = function(senderId, senderName, message) {
    	// display controls if hidden
    	if (!$("#reply-area").is(":visible")) {
	        $("#reply-area").show();
    	}

    	// update target user id to the one who sent msg if no conversations
    	if (now.currentUserId == 0) {
    		now.currentUserId = senderId;
    	}

    	// add user to conversation list if doesn't exist
    	if ($('#link_' + senderId).length == 0) {
			$("#userlist").append("<li><img class='profile'><p class='username'><a href='#' onclick='selectCustomer(\""+senderId+"\", \""+senderName+"\")' id='link_" + senderId + "'>" + senderName + "</a></p></li>");
			$("#msgs-widget").append("<div id='conversation_" + senderId + "' class='chat-frame'></div>");

			if (senderId != now.currentUserId) {
	            $('#conversation_' + senderId).hide();
			}
    	}

 		$('#conversation_' + senderId).append("<div class='chat-msg-received'><img class='profile'><p class='msg'>" + senderName + ": " + message + "</p></div>");

        // if business div not active, highlight it to show unread msgs
        if (senderId != now.currentUserId) {
            $('#link_' + senderId).css('background-color', '#FFFF00');
        }
	}

	function selectCustomer (id, name) {
        // mark as read
        $('#link_' + id).css('background-color', '');

        // hide the previous conversation
        if (now.currentUserId != 0) {
            $('#conversation_' + now.currentUserId).hide();
       	}

       	// show conversation
      	$('#conversation_' + id).show();

      	// update current user
      	now.currentUserId = id;
	}
</script>