{% from "_formhelpers.html" import render_field %}
<!DOCTYPE html>
<html>
<head>
<title>Login | BizPing</title>
<link href="/static/style.css?z" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js" type="text/javascript"></script>

</head>
<body>

<div class="topbar">
<h1>BizPing</h1>
</div>

<div class="content">
  
  <h1>Log-in</h1>
  {% if error %}
  	<p class="error">{{error}}</p>
  {% endif %}
  <form method="post" action="" class="register-form">
   <dl>
	    {{ render_field(form.email) }}
	    {{ render_field(form.password) }}
    </dl>
    <p><input type="submit" value="Login" class="submit_btn"></p>
  </form>

</div>

</body>
</html>