<!DOCTYPE html> 
<html> 
	<head> 
	<title>My Page</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.css" />
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.js"></script>
	<script src="http://localhost:8080/nowjs/now.js"></script>

	<style>
		div.chats {
			height: 180px;
			overflow-y: scroll;
		}
	</style>
</head> 
<body> 

<div data-role="page">

	<div data-role="header">
		<h1>Customers</h1>
	</div><!-- /header -->

	<div data-role="content">	
		<ul data-role="listview" data-filter="true" id="userlist">
		</ul>
	</div><!-- /content -->

</div><!-- /page -->

<div data-role="page" id="chatPage">
	<div data-role="header">
		<h1 id="chat-header">Chat with</h1>
	</div>

	<div data-role="content">
		<div id="chats" class="chats">
		</div>
		<label for="reply-box">Reply:</label>
		<textarea name="reply-box" id="reply-box"></textarea>
		<fieldset class="ui-grid-a">
			<div class="ui-block-a"><button id="sendMessage">Send</button></div>
			<div class="ui-block-b"><a id="backButton" data-rel="back" href="#" data-role="button">Go Back</a></div>
		</fieldset>
	</div>

</div>

</body>
</html>

<script type="text/javascript">

	now.id = "business_{{business.id}}";
	now.name = "{{business.businessName}}";
	now.currentUserId = 0;

	$('#sendMessage').click(function() {
		message = $('#reply-box').val();
		now.sendMessage(message, now.currentUserId);
		$('#reply-box').val("");

		$('#conversation_' + now.currentUserId).append("<p>" + now.name + ": " + message + "</p>");
	});

	now.receiveMessage = function(senderId, senderName, message) {
		if ($('#link_' + senderId).length == 0) {
			$("#userlist").append("<li><a href='#' id='link_" + senderId + "' onclick='selectCustomer(\""+senderId+"\", \""+senderName+"\")'><h3>" + senderName + "</h3><p id='message_" + senderId + "'>" + message + "</p></a></li>");
			$('#chats').append("<div id='conversation_" + senderId + "'></div>")
			$('#conversation_' + senderId).hide();
			$('#userlist').listview('refresh');
		}
		else {
			$("#message_" + senderId).html(message);
			$('#userlist').listview('refresh');
		}

		$("#chats").scrollTop($("#chats")[0].scrollHeight);

		$('#conversation_' + senderId).append("<p>" + senderName + ": " + message + "</p>");
	}

	function selectCustomer (id, name) {
		// mark as read

		// hide the previous conversation
		if (now.currentUserId != 0) {
		    $('#conversation_' + now.currentUserId).hide();
		}

		// show conversation
		$('#conversation_' + id).show();
		
		$('#chat-header').html("Chat with " + name);

		// update current user
		now.currentUserId = id;
		$(location).attr('href',"#chatPage");
	}

</script>