{% from "_formhelpers.html" import render_field %}
<!DOCTYPE html>
<html>
<head>
<title>Sign up for businesses | BizPing</title>
<link href="/static/style.css?d" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js" type="text/javascript"></script>
</head>
<body>

<div class="topbar">
<h1>BizPing</h1>
</div>

<div class="content">
  <h1>Step 1: Find your business <span id="step2">| <a href="/register/business/manager">Step 2</a></span></h1>
  
  <form method="post" action="" class="register-form">
      <div class="biz-name">
        {{ render_field(form.businessName) }}
      </div>
      <div class="biz-info">
      {{ render_field(form.address) }}
      {{ render_field(form.city) }}
      {{ render_field(form.postal) }}
      {{ render_field(form.state) }}
      {{ render_field(form.country) }}
      {{ render_field(form.phone) }}
      <input type="submit" value="Next" id="next" class="submit_btn">
      </div>
  </form>

  <input type="submit" id="lookup" value="Lookup" class="lookup_btn submit_btn">

  <div id="results" class="results">
  </div>

</div>

<script type="text/javascript" src="/static/bizlookup.js"></script>

<script type="text/javascript">

  // updates form fields with details of the selected business
  function bizClicked(index) {
    var biz = lastJSONResponse.businesses[index];
    $('#address').val(biz.location.address);
    $('#city').val(biz.location.city);
    var postalcode = String(biz.location.postal_code).replace(/\s+/g, '');  //remove spaces in zip
    $('#postal').val(postalcode);
    $('#state').val(biz.location.state_code);
    $('#country').val(biz.location.country_code);
    $('#phone').val(biz.phone);
  }

  /*
  $("#businessName").change( function() {
      $('#results').empty();
      searchBiz($('#businessName').val());
  });
  */

  $('#lookup').click(function() {
    $('#results').empty();
    searchBiz($('#businessName').val());
  });

</script>

<script type="text/javascript">
  
  function populateInfo() {
    status = localStorage.getItem('step1status')
    if (status == "complete") {
      $('#step2').show();
    }
    else {
      $('#step2').hide();
    }
    var raw_items = localStorage.getItem('bizinfo');
    if (raw_items != null) {
      var items = raw_items.split(";");
      $('#businessName').val(items[0]);
      $('#address').val(items[1]);
      $('#city').val(items[2]);
      $('#postal').val(items[3]);
      $('#state').val(items[4]);
      $('#country').val(items[5]);
      $('#phone').val(items[6]);    
    }
  }

  function cacheInfo() {
    var items = new Array();
    items.push($('#businessName').val());
    items.push($('#address').val());
    items.push($('#city').val());
    items.push($('#postal').val());
    items.push($('#state').val());
    items.push($('#country').val());
    items.push($('#phone').val());
    localStorage.setItem('bizinfo', items.join(";"));
  }

  populateInfo();
  $('#next').click(cacheInfo);

</script>

</body>
</html>