{% from "_formhelpers.html" import render_field %}
<!DOCTYPE html>
<html>
<head>
<title>Sign up for user | BizPing</title>
<link href="/static/style.css?z" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js" type="text/javascript"></script>
</head>
<body>

<div class="topbar">
<h1>BizPing</h1>
</div>

<div class="content">
  <h1>Register an account to Ping businesses</h1>
  
  <form method="post" action="" class="register-form">
   <dl>
      {{ render_field(form.firstName) }}
      {{ render_field(form.lastName) }}
      {{ render_field(form.email) }}
      {{ render_field(form.password) }}
    </dl>
    <p><input type="submit" value="Register"></p>
  </form>

</div>

</body>
</html>