{% from "_formhelpers.html" import render_field %}
<!DOCTYPE html>
<html>
<head>
<title>Sign up for businesses | BizPing</title>
<link href="/static/style.css?z" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js" type="text/javascript"></script>

</head>
<body>

<div class="topbar">
<h1>BizPing</h1>
</div>

<div class="content">
  
  <h1><a href="/register/business" id="step1" onClick="step1_onClick()">Step 1</a> | Step 2: Enter Manager Information</h1>
  
  <form method="post" action="" class="register-form">
   <dl>
	    {{ render_field(form.managerFirstName) }}
	    {{ render_field(form.managerLastName) }}
	    {{ render_field(form.managerEmail) }}
	    {{ render_field(form.password) }}
    </dl>
    <p><input type="submit" value="Register" class="submit_btn"></p>
  </form>

</div>

<script>
	function populateInfo() {
		localStorage.setItem('step1status', "complete");
		manager_raw_items = localStorage.getItem('managerinfo');
		if (manager_raw_items != null) {
			var items = manager_raw_items.split(";");
			$('#managerFirstName').val(items[0]);
			$('#managerLastName').val(items[1]);
			$('#managerEmail').val(items[2]);
   		}
	}

	function cacheInfo() {
	    var items = new Array();
	    items.push($('#managerFirstName').val());
	    items.push($('#managerLastName').val());
	    items.push($('#managerEmail').val());
	    localStorage.setItem('managerinfo', items.join(";"));
	}
	
	function step1_onClick() {
		cacheInfo();
	}

	populateInfo();
</script>

</body>
</html>