<!DOCTYPE html>
<head><title>User Home</title></head>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script src="http://localhost:8080/nowjs/now.js"></script>

<html>
<body>
    <p>User Home. Welcome back {{user.firstName}} {{user.lastName}}</p>
    <p>Select a business to Ping:</p>

    <ul id="businesses">
    {% for biz in businesses %}
        <li><a id="link_{{ biz.id }}" href="#" onclick="selectBusiness('business_{{ biz.id }}', '{{ biz.businessName }}');">{{ biz.businessName }} ({{ biz.address }}, {{ biz.city }})</a></li>
    {% endfor %}
    </ul>

    <p id="talking_to"></p>

    <div id="messages"></div>

    <div id="messages_control" >
        <input type="text" id="msg-text">
        <input type="button" value="Ping!" id="send-btn">
    </div>
</body>
</html>

<script type="text/javascript">
    now.id = "user_{{user.id}}";
    now.name = "{{user.firstName}}";
    now.currentBusinessId = 0;

    $(document).ready(function() {
        // hide messages controller until a business has been selected
        $("#messages_control").hide();

        $("#send-btn").click(function() {
            message = $("#msg-text").val()
            now.sendMessage(message, now.currentBusinessId);

            $('#conversation_' + now.currentBusinessId).append("<br>" + now.name + ": " + message);
            $("#msg-text").val("");
        });
    });

    now.receiveMessage = function(senderId, senderName, message) {
        $('#conversation_' + senderId).append("<br>" + senderName + ": " + message);

        // if business div not active, highlight it to show unread msgs
        if (senderId != now.currentBusinessId) {
            $('#link_' + senderId).css('background-color', '#FFFF00');
        }
    }

    function selectBusiness(id, name) {
        // update talking to and show message controllers
        $('#talking_to').text("Talking to: " + name);
        $("#messages_control").show();

        // mark as read
        $('#link_' + id).css('background-color', '');

        // hide the previous conversation
        if (now.currentBusinessId != 0) {
            $('#conversation_' + now.currentBusinessId).hide();
        }

        // show conversation with the business
        if ($('#conversation_' + id).length > 0) {
            $('#conversation_' + id).show();
        } else {
            $("#messages").append("<div id='conversation_" + id + "'></div>");    
        }

        // update business id
        now.currentBusinessId = id;
    }
</script>