body {
  background:   #fff;
  margin:       0;
  padding:      0;
  font:         16px/1.5 Helvetica, Arial, sans-serif;
  text-align:   center;
}

.container {
  text-align:   left;
  width:        400px;
  margin:       40px auto;
}

h1, form, ul li {
  background:   #fff;
  padding:      24px;
  border:       1px solid rgba(220, 0, 0, 1);
}

h1 {
  font-size:    20px;
}

h1 em {
  font-style:   normal;
  font-weight:  normal;
  color:        rgba(220, 0, 0, 1);
  text-transform: uppercase;
  letter-spacing: -0.06em;
}

label {
  color:        rgba(220, 0, 0, 1);
  font-weight:  bold;
}

ul, li {
  list-style:   none;
  margin:       0;
  padding:      0;
}


